apiVersion: v1
kind: Secret
metadata:
  name: mautrix-discord-secrets
  namespace: matrix
type: Opaque
stringData:
  as-token: "{{ mautrix_discord_as_token }}"
  hs-token: "{{ mautrix_discord_hs_token }}"
  database-uri: "postgres://mautrix_discord:{{ mautrix_discord_db_password }}@mautrix-discord-db-rw.matrix.svc.cluster.local/mautrix_discord?sslmode=disable"
