apiVersion: v1
kind: Secret
metadata:
  name: mautrix-discord-db-credentials
  namespace: matrix
type: kubernetes.io/basic-auth
stringData:
  username: mautrix_discord
  password: "{{ mautrix_discord_db_password }}"
