apiVersion: v1
kind: Secret
metadata:
  name: tuwunel-secrets
  namespace: matrix
type: Opaque
stringData:
  registration-token: "{{ tuwunel_registration_token }}"
  admin-token: "{{ tuwunel_admin_token }}"
